//colors
$color-black: #10131a;
$color-brand: #790bb5;
$color-brand-light: #faf0ff;
$color-white: #ffffff;
$color-light-grey: #f9f9f9;

// Heading and font-size
$banner-title: 50px;
$section-title: 34px;
$sub-title: 26px;
$regular-text: 22px;

$line-height: 40px;
$font-weight: 400;
